@font-face {
    font-family: roboto-bold;
    src: url('/fonts/Roboto-Bold.ttf');
  }

@font-face {
  font-family: inconsolata;
  src: url('/fonts/inconsolata-variable.woff2');
}

:root {
  --color: #232323;
  --transition-time: 0.5s;
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 25px;
  border-radius: 25px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px #414141;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #232323;
  color: white;
}

h1 {
    font-family: roboto-bold;
    font-size: 5rem;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 25px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #4bffc3;
}

.footer {
  font-family: roboto-bold;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer a {
  text-decoration: none;
  color: white;
  transition: all .5s ease-in-out;
}

.footer a:hover {
  text-decoration: none;
  color: #4bffc3;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: roboto-bold;
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 15em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1em 3em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #414141;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 1em 2em 0em black;
}

.card h2 {
  margin-bottom: 3rem;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: inconsolata;
  margin-top: 0.5em;
  line-height: 2em;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ffffff79;
  width: 250%;
  height: 250%;
}

.card:after {
  background: #ffffff79;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h2 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
}


@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }

  h1 {
    font-size: 4rem;
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .footer {
    padding-top: 0px;
  }

}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h2 {
    margin: 0;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 3rem;
  }
  .card h2 {
    font-size: 1.7rem;
  }

  .card p {
    font-size: 0.7em;
    margin-top: 1em;
    line-height: 1.5em;
  }
}